<div id='<%= streamId %>'>
	<section class='terminal'>
		<div class='terminal-inner'>
			<h1>ktr [v<%= pageGlobals.ktrVersion %>]</h1>
			<div class='metadata'>
				<div class='hostinfo'>你的设备 (<%= pageGlobals.userIp %>) -> <%= pageGlobals.serverHost %> (<%= pageGlobals.serverIp %>)</div>
				<div class='date'><%= pageGlobals.isoDate %></div>
			</div>

			<br>

			<div class='row table-header'>
				<div class='host'>Host</div>
				<div class='asn'>ASN</div>
				<div class='network'>Network</div>
				<div class='country'>Region</div>
			</div>
			
			<ol class='traceroute'>
				<% if (!isTraceDone && hops.length < 2) { %>
					<li class='pending'>(追踪路由正在加载...)</li>
				<% } %>

				<% for (let i = 0; i < hops.length; i++) { %>
					<% const hop = hops[i] %>
					
					<% if (hop.kind === 'Pending') { %>
						<% if (isTraceDone && i === 0) { %>
							<li class='no-response'>
								<div class='landmark you'>你在此处 -></div>
								<%= pageGlobals.userIp %>
								<span class='hide-when-inline-landmark'>(无响应)</span>
							</li>
						<% } else if (isTraceDone) { %>
							<li class='no-response'>(无响应)</li>
						<% } else { %>
							<% const secs = (Math.max(Date.now() - hop.since, 0) / 1000).toFixed(1) %>
							<% if (secs >= 1) { %>
								<li class='pending'>(等待回复... <%= secs %>秒)</li>
							<% } else { %>
								<li class='pending'>(等待回复)</li>
							<% } %>
						<% } %>
					<% } else { %>
						<li class='row'>
							<div class='host'>
								<% if (i === hops.length - 1) { %>
									<div class='landmark server'>
										我们的服务器
										<span class='hide-when-inline-landmark'>-></span>
									</div>
								
									<span class='hide-when-inline-landmark'>
										<%= hop.hostname ?? hop.ip %>
									</span>
								<% } else if ((isTraceDone && i === 0) || hop.ip === pageGlobals.userIp) { %>
									<div class='landmark you'>
										你在此处
										<span class='hide-when-inline-landmark'>-></span>
									</div>
			
									<span class='hide-when-inline-landmark'>
										<%= hop.hostname ?? hop.ip %>
									</span>
								<% } else { %>
									<%= hop.hostname ?? hop.ip %>
								<% } %>
							</div>
			
							<% if (hop.kind === 'Done') { %>
								<div class='asn'>AS<%= hop.networkInfo?.asn ?? '???' %></div>
								<div class='network'><%= hop.networkInfo?.network?.name ?? '' %></div>
								<div class='country'>
									<% const scope = hop.networkInfo?.network?.geographicScope %>
									<% if (scope && scope !== 'Other' && scope !== 'Regional') { %>
										<%= scope %>
									<% } else if (scope === 'Regional') { %>
										(区域)
									<% } %>
								</div>
							<% } else { %>
								<div class='asn'>...</div>
								<div class='network'>...</div>
								<div class='country'>...</div>
							<% } %>
						</li>
					<% } %>
				<% } %>
			</ol>
		</div>
	</section>

	<section class='text'>
		<p style='font-style: italic'>看起来这个页面又登上了Hacker News首页，我的服务器在为大家提供服务时遇到了一些问题。我做了一些紧急修复，追踪路由似乎又能正常工作了，但您可能需要耐心等待一下 :)</p>
		<p style='font-style: italic; margin-bottom: 32px;'>- Lexi, 11月7日 太平洋标准时间下午4:19</p>
	</section>

	<section class='text'>
		<% if (pageGlobals.paragraphs || pageGlobals.error) { %>
			<% if (pageGlobals.error) { %>
				<p>抱歉，我的追踪路由程序出现了一些问题，在尝试为您生成此页面时崩溃了。下面您仍然可以阅读关于这个页面正常工作时如何运作的文章。</p>
				<p>诊断信息: <%= pageGlobals.error.message %> (<%= pageGlobals.error.kind %>)</p>
				<p>您或许也可以稍后再试。</p>
			<% } else { %>
				<p>
					上方的文本转储是一次追踪路由。这个特定的路由描绘了您的旅程——或者至少是您的数据包旅程——穿越互联网的网络以到达托管本网站的服务器。前面的追踪路由和<span class='generated'>所有未来发出绿色荧光的文本</span>都是在加载本网站期间专门为您实时生成的。
				</p>
				<div class='generated'>
					<% for (const paragraph of pageGlobals.paragraphs) { %>
						<p><%= paragraph %></p>
					<% } %>
				</div>
			<% } %>
		<% } else { %>
			<p class='generated'>这部分页面仍在加载，我正在等待上方的追踪路由加载完成。</p>
		<% } %>

		<img class='divider' src='/divider.svg' role='separator' alt=''>
		
		<%- pageGlobals.essayHtml %>
	</section>
</div>
